.popup-btn {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #000;
}

.div-goods-container {
    display: flex;
}

.goods-title {
    height: 40px;
}

.span-goods {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.span-goods.active {
    box-shadow: 0 0 5px 3px rgba(255, 0, 0, 0.2);
}

.goods-img {
    width: 200px;
    height: 200px;
}

.goods-number {
    display: flex;
    flex-direction: column;
}

.goods-number > span {
    flex: 1;
}

label {
    display: block;
    margin: 10px 0;
}

#id-title {
    color: #f00;
    font-size: 14px;
}

.p-error {
    display: inline-block;
    color: #f00;
}
