.popup-btn {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #fff;
    background: #0976cd;
    border-radius: 5px;
}

.popup-btn.disabled {
    pointer-events: none;
    color: #ccc;
}

.div-goods-container {
    display: flex;
}

.goods-title {
    height: 40px;
}

.span-goods {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.span-goods.active {
    box-shadow: 0 0 5px 3px rgba(9, 118, 205, 0.2);
}

.goods-img {
    width: 200px;
    height: 200px;
}

.goods-number {
    display: flex;
    flex-direction: column;
}

.goods-number > span {
    flex: 1;
}

label {
    display: block;
    margin: 8px 0;
}

#id-title {
    color: #f00;
    display: inline-block;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

#id-frequency, #id-speedinessTime {
    width: 80px;
}

.p-error {
    display: inline-block;
    color: #f00;
}

.tips {
    color: #0976cd;
}

input {
    height: 26px;
    width: 166px;
    border: 1px solid #e6e6e6;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    padding: 0 10px;
}
